# **DATA WRANGLING SITUACIÓN ESTACIONES**
This file attemps to gather, collect, and transform all the raw datasets from the source attached below in order to analyse the data avilable and proceed with it. 
The following processes will be dealt with: 
1. Reading the data and transforming variables
2. Dealing with missing values
3. Data exploration
4. Reshaping data
5. Filtering data

Source: https://datos.madrid.es/sites/v/index.jsp?vgnextoid=374512b9ace9f310VgnVCM100000171f5a0aRCRD&buscar=true&Texto=BiciMAD&Sector=&Formato=&Periodicidad=&orderByCombo=CONTENT_INSTANCE_NAME_DECODE

#### **LIBRARIES**

In [2]:
import pandas as pd 
import json

#### **READ DATA**

**Situacion Estaciones BiciMAD**

In [17]:
# load data using Python JSON module
with open('../Data/Situacion Estaciones/201909.json','r') as f:
    data = json.loads(f.read())

sit_201909 = pd.json_normalize(
    data, 
    meta=['_id'],
    record_path =['stations']
)
sit_201909["_id"] = pd.to_datetime(sit_201909["_id"])
sit_201909.head()

,activate,name,reservations_count,light,total_bases,free_bases,number,longitude,no_available,address,latitude,dock_bikes,id,_id
0,1,Puerta del Sol A,0,0,24,17,1a,-3.7024255,0,Puerta del Sol nº 1,40.4168961,3,1,2019-09-01 00:10:32.593867
1,1,Puerta del Sol B,0,2,24,13,1b,-3.7024207,0,Puerta del Sol nº 1,40.4170009,10,2,2019-09-01 00:10:32.593867
2,1,Miguel Moya,0,2,24,8,2,-3.7058415,0,Calle Miguel Moya nº 1,40.4205886,16,3,2019-09-01 00:10:32.593867
3,1,Plaza Conde Suchil,0,0,18,12,3,-3.7069171,0,Plaza del Conde Suchil nº 2-4,40.4302937,3,4,2019-09-01 00:10:32.593867
4,1,Malasaña,0,2,24,8,4,-3.7025875,0,Calle Manuela Malasaña nº 5,40.4285524,12,5,2019-09-01 00:10:32.593867