# **DATA WRANGLING**
This file attemps to gather, collect, and transform all the raw datasets from the source attached below in order to analyse the data avilable and proceed with it. 
The following processes will be dealt with: 
1. Reading the data and transforming variables
2. Dealing with missing values
3. Data exploration
4. Reshaping data
5. Filtering data

Source: https://datos.madrid.es/sites/v/index.jsp?vgnextoid=374512b9ace9f310VgnVCM100000171f5a0aRCRD&buscar=true&Texto=BiciMAD&Sector=&Formato=&Periodicidad=&orderByCombo=CONTENT_INSTANCE_NAME_DECODE

#### **LIBRARIES**

In [1]:
import pandas as pd

#### **READ DATA**

Situacion Estaciones BiciMAD

In [35]:
sit_201909 = pd.read_json('../Data/Situacion Estaciones/201909.json')
sit_201909.head()

,_id,stations
0,2019-09-01T00:10:32.593867,"[{'activate': 1, 'name': 'Puerta del Sol A', '..."
1,2019-09-01T01:10:34.910710,"[{'activate': 1, 'name': 'Puerta del Sol A', '..."
2,2019-09-01T02:10:36.812870,"[{'activate': 1, 'name': 'Puerta del Sol A', '..."
3,2019-09-01T04:10:40.609478,"[{'activate': 1, 'name': 'Puerta del Sol A', '..."
4,2019-09-01T05:10:41.878683,"[{'activate': 1, 'name': 'Puerta del Sol A', '..."

In [38]:
type(sit_201909)

pandas.core.frame.DataFrame

In [63]:
sit_201909._id
output = pd.DataFrame()
k=0
for index,row in sit_201909.iterrows(): 
    fecha =row[0][0:10]
    hora = row[0][11:]
    
    for j in row[1]: 
        data=dict(j)
        data['fecha']=fecha
        data['hora']=hora

        output = output.append(data, ignore_index=True)
output.shape

In [86]:
from os import walk
path_situacionEst="../Data/Situacion Estaciones/"
f_situacionEstaciones = []
for (dirpath, dirnames, filenames) in walk(path_situacionEst):
    f_situacionEstaciones.extend(filenames)
    break

In [88]:
output = pd.DataFrame()

for file in f_situacionEstaciones: 
    sit = pd.read_json(path_situacionEst+file)
    
    for index,row in sit.iterrows(): 
        fecha =row[0][0:10]
        hora = row[0][11:]
        
        for values in row[1]: 
            data=dict(values)
            data['fecha']=fecha
            data['hora']=hora

            output = output.append(data, ignore_index=True)
output.shape
output.to_parquet('../Data/Situacion Estaciones/Estaciones.parquet')

In [60]:
from os import walk
path_itinerarios="../Data/Itinerarios/"
f_itinerarios = []
for (dirpath, dirnames, filenames) in walk(path_itinerarios):
    f_itinerarios.extend(filenames)
    break

['201907.json',
 '201908.json',
 '201909.parquet',
 '201910.parquet',
 '201911.parquet',
 '201912.json']

Itineraios

In [68]:

itinerarios = pd.DataFrame()
for file in f_itinerarios:
    if 'parquet'in file: 
        it = pd.read_parquet(path_itinerarios+file)

    else: 
        it = pd.read_json(path_itinerarios+file)
        
    itinerarios = itinerarios.append(it, ignore_index=True)

itinerarios.to_parquet('../Data/Itinerarios/ItinerariosMerged.parquet')

In [69]:
itinerarios.isna().sum()

_id                 0
user_day_code       0
idplug_base         0
user_type           0
idunplug_base       0
travel_time         0
idunplug_station    0
ageRange            0
idplug_station      0
unplug_hourTime     0
zip_code            0
dtype: int64

Bases BiciMAD

In [76]:
itinerarios.shape

(1862981, 11)

In [79]:
len(itinerarios.idplug_base.unique())

30

In [72]:
bases = pd.read_excel('../Data/bases_bicimad.xls')
bases.head()

,Número,Gis_X,Gis_Y,Fecha de Alta,Distrito,Barrio,Calle,Nº Finca,Tipo de Reserva,Número de Plazas,Longitud,Latitud,Direccion
0,001 a,440443.61,4474290.65,43803,01 CENTRO,01-06 SOL,"ALCALA, CALLE, DE",2,BiciMAD,30,-3.701998,40.417111,"ALCALA, CALLE, DE, 2"
1,001 b,440480.56,4474301.74,43867,01 CENTRO,01-06 SOL,"ALCALA, CALLE, DE",6,BiciMAD,30,-3.701564,40.417213,"ALCALA, CALLE, DE, 6"
2,2,440134.83,4474678.23,41813,01 CENTRO,01-05 UNIVERSIDAD,"MIGUEL MOYA, CALLE, DE",1,BiciMAD,24,-3.705674,40.420580,"MIGUEL MOYA, CALLE, DE, 1"
3,3,440012.98,4475760.68,41813,07 CHAMBERÍ,07-02 ARAPILES,"CONDE DEL VALLE DE SUCHIL, PLAZA, DEL",2,BiciMAD,18,-3.707212,40.430322,"CONDE DEL VALLE DE SUCHIL, PLAZA, DEL, 2"
4,4,440396.40,4475565.36,41813,01 CENTRO,01-05 UNIVERSIDAD,"MANUELA MALASAÑA, CALLE, DE",3,BiciMAD,24,-3.702674,40.428590,"MANUELA MALASAÑA, CALLE, DE, 3"

In [73]:
bases.isna().sum()

Número              0
Gis_X               0
Gis_Y               0
Fecha de Alta       0
Distrito            0
Barrio              0
Calle               0
Nº Finca            0
Tipo de Reserva     0
Número de Plazas    0
Longitud            0
Latitud             0
Direccion           0
dtype: int64

In [82]:
len(bases.Número.unique())

269