### Import libraries

In [64]:
import pandas as pd
import numpy as np

### ITINERARIOS_BASES - Read Data

In [78]:
itinerarios_bases = pd.read_csv('../Data/Itinerarios/itinerarios_bases.csv',index_col=0, dtype={'zip_code': 'str'})

In [79]:
itinerarios_bases.dtypes

idplug_base                   int64
user_type                     int64
idunplug_base                 int64
travel_time                   int64
idunplug_station              int64
ageRange                      int64
idplug_station                int64
unplug_hourTime              object
zip_code                     object
return_date                  object
status                       object
Origen_destino               object
Número_Salida                 int64
Distrito_Salida              object
Barrio_Salida                object
Número de Plazas_Salida     float64
Latitud_Salida              float64
Longitud_Salida             float64
Número_Llegada                int64
Distrito_Llegada             object
Barrio_Llegada               object
Número de Plazas_Llegada    float64
Latitud_Llegada             float64
Longitud_Llegada            float64
dtype: object

### Prepare Data

Delete user type = 3 as they are employees of BiciMAD

In [84]:
itinerarios1 = itinerarios_bases[itinerarios_bases["user_type"]!= 3]

We are not going to consider movements which status is error, change bike, long rentals or repaired. Therefore only consider short rentals.

In [85]:
itinerarios1["status"].value_counts()

short_rental    1508779
long_rental      172269
error                51
change_bike          11
Name: status, dtype: int64

In [86]:
itinerarios1 = itinerarios1[itinerarios1["status"] == "short_rental"]

Delete all columns as they are not relevant to the forecast model besides: 
- idunplug_station
- unplug_hourTime

In [113]:
itinerarios2 = itinerarios1[["unplug_hourTime"]]
itinerarios2.head()

             unplug_hourTime
0  2019-07-01 00:00:00+00:00
1  2019-07-01 00:00:00+00:00
2  2019-07-01 00:00:00+00:00
3  2019-07-01 00:00:00+00:00
4  2019-07-01 00:00:00+00:00

In [114]:
itinerarios2.dtypes

unplug_hourTime    object
dtype: object

Add to dataframe variables related to Date and Time

In [121]:
itinerarios2.groupby("unplug_hourTime").size().reset_index(name='Count')

               unplug_hourTime  Count
0    2019-07-01 00:00:00+00:00    129
1    2019-07-01 01:00:00+00:00     66
2    2019-07-01 02:00:00+00:00     39
3    2019-07-01 03:00:00+00:00     59
4    2019-07-01 04:00:00+00:00    112
...                        ...    ...
3925 2019-12-31 19:00:00+00:00    247
3926 2019-12-31 20:00:00+00:00    136
3927 2019-12-31 21:00:00+00:00     51
3928 2019-12-31 22:00:00+00:00     31
3929 2019-12-31 23:00:00+00:00    128

[3930 rows x 2 columns]

In [115]:
itinerarios2["unplug_hourTime"] = pd.to_datetime(itinerarios2["unplug_hourTime"])
# Day of week Monday=0, Sunday=6.
itinerarios2["dayofweek"]  = itinerarios2["unplug_hourTime"].dt.dayofweek
itinerarios2["hour"]  = itinerarios2["unplug_hourTime"].dt.hour

In [116]:
itinerarios2.dtypes

unplug_hourTime    datetime64[ns, UTC]
dayofweek                        int64
hour                             int64
dtype: object

In [59]:
####### ADICIONAL: INCLUIR DÍAS FESTIVOS PARA HACER VARIABLE NO LABORABLE

In [117]:
conditions = [
    (itinerarios2['dayofweek'] <= 3),
    (itinerarios2['dayofweek'] == 4),
    (itinerarios2['dayofweek'] == 5) & (itinerarios2['dayofweek'] == 6)
    ]
values = ['workingday', 'friday', 'weekend']

itinerarios2["typeofday"]  = np.select(conditions, values)

In [118]:
itinerarios2.tail()

                  unplug_hourTime  dayofweek  hour   typeofday
1862973 2019-12-31 23:00:00+00:00          1    23  workingday
1862975 2019-12-31 23:00:00+00:00          1    23  workingday
1862976 2019-12-31 23:00:00+00:00          1    23  workingday
1862978 2019-12-31 23:00:00+00:00          1    23  workingday
1862980 2019-12-31 23:00:00+00:00          1    23  workingday

### ARIMA MODEL

In [ ]:
f = Forecaster(y=itinerarios2[''],current_dates=df['Month'])