In [8]:
import pandas as pd

In [9]:
bicimad=pd.read_excel('../Data/bases_bicimad.xls')
bicimad=bicimad.astype({'Número': 'str'})
bases=bicimad.Número
bases_cambiar=[]
for i in bases: 
    if not(i.isdigit()): 
        bases_cambiar.append(i)
bases_cambiar
cambio_bases=[1,1,20,25,25,80,80,90,106,106,111,111,116,116,128,140,161]
dict_camnbios=dict(zip(bases_cambiar, cambio_bases))
bicimad['Número']=bicimad['Número'].apply(lambda x: dict_camnbios[x] if x in bases_cambiar else x )
bicimad.head()

,Número,Gis_X,Gis_Y,Fecha de Alta,Distrito,Barrio,Calle,Nº Finca,Tipo de Reserva,Número de Plazas,Longitud,Latitud,Direccion
0,1,440443.61,4474290.65,43803,01 CENTRO,01-06 SOL,"ALCALA, CALLE, DE",2,BiciMAD,30,-3.701998,40.417111,"ALCALA, CALLE, DE, 2"
1,1,440480.56,4474301.74,43867,01 CENTRO,01-06 SOL,"ALCALA, CALLE, DE",6,BiciMAD,30,-3.701564,40.417213,"ALCALA, CALLE, DE, 6"
2,2,440134.83,4474678.23,41813,01 CENTRO,01-05 UNIVERSIDAD,"MIGUEL MOYA, CALLE, DE",1,BiciMAD,24,-3.705674,40.420580,"MIGUEL MOYA, CALLE, DE, 1"
3,3,440012.98,4475760.68,41813,07 CHAMBERÍ,07-02 ARAPILES,"CONDE DEL VALLE DE SUCHIL, PLAZA, DEL",2,BiciMAD,18,-3.707212,40.430322,"CONDE DEL VALLE DE SUCHIL, PLAZA, DEL, 2"
4,4,440396.40,4475565.36,41813,01 CENTRO,01-05 UNIVERSIDAD,"MANUELA MALASAÑA, CALLE, DE",3,BiciMAD,24,-3.702674,40.428590,"MANUELA MALASAÑA, CALLE, DE, 3"

In [11]:
bicimad.Barrio.value_counts()

04-01 RECOLETOS               14
05-01 EL VISO                 12
01-05 UNIVERSIDAD             12
01-02 EMBAJADORES             11
01-04 JUSTICIA                11
01-01 PALACIO                 10
01-06 SOL                     10
07-05 RÍOS ROSAS               9
03-05 JERÓNIMOS                9
04-02 GOYA                     9
02-02 ACACIAS                  8
04-04 GUINDALERA               8
06-02 CUATRO CAMINOS           7
01-03 CORTES                   7
09-02 ARGÜELLES                7
09-03 CIUDAD UNIVERSITARIA     6
07-01 GAZTAMBIDE               6
04-06 CASTELLANA               5
07-04 ALMAGRO                  5
02-06 PALOS DE MOGUER          5
03-04 IBIZA                    4
03-06 NIÑO JESÚS               4
02-05 DELICIAS                 4
15-01 VENTAS                   4
04-05 LISTA                    4
07-02 ARAPILES                 4
05-04 HISPANOAMÉRICA           4
05-05 NUEVA ESPAÑA             4
09-01 CASA DE CAMPO            4
02-07 ATOCHA                   4
03-03 ESTRELLA                 3
07-03 TRAFALGAR                3
03-01 PACÍFICO                 3
06-01 BELLAS VISTAS            3
05-06 CASTILLA                 3
07-06 VALLEHERMOSO             3
15-05 SAN PASCUAL              3
04-03 FUENTE DEL BERRO         3
13-06 NUMANCIA                 2
15-04 CONCEPCIÓN               2
13-02 SAN DIEGO                2
02-01 IMPERIAL                 2
03-02 ADELFAS                  2
10-02 PUERTA DEL ÁNGEL         2
06-06 BERRUGUETE               2
05-02 PROSPERIDAD              2
02-03 CHOPERA                  2
12-05 MOSCARDÓ                 2
14-04 MEDIA LEGUA              2
08-05 LA PAZ                   2
14-01 PAVONES                  1
06-03 CASTILLEJOS              1
11-03 SAN ISIDRO               1
06-05 VALDEACEDERAS            1
02-04 LEGAZPI                  1
15-02 PUEBLO NUEVO             1
05-03 CIUDAD JARDÍN            1
14-03 MARROQUINA               1
10-01 CÁRMENES                 1
11-01 COMILLA                  1
Name: Barrio, dtype: int64

In [51]:
bicimad['Tipo de Reserva'].unique()

array(['BiciMAD'], dtype=object)

In [55]:
bicimad=bicimad.astype({'Número': str})
cols= ['Número','Distrito','Barrio', 'Calle','Tipo de Reserva']

def bases(x): 
    #(label, a)=x.
    
    columnas=['Número de Plazas', 'Latitud', 'Longitud']
    
    plazas=int(x['Número de Plazas'].sum())
    latitud=x['Latitud'].mean()
    longitud=x['Longitud'].mean()
    
    datos=[plazas,latitud, longitud]
    valores=dict(zip(columnas,datos))
    return pd.Series(valores)
    

bases_def=bicimad.groupby(cols).apply(bases).reset_index()

In [57]:
bases_def[bases_def['Número']=='161']
bases_def.shape

(258, 8)

In [59]:
bases_def.to_csv('../Data/bases_def.csv')